.about {
  width: 99%;
  height: 100vh;
  background-image: url(../imagen/Fondo_Henry-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 34px;
  margin: 5px;
}

.containerFotos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  
}
.fotos {
  display: flex;
  border: solid 2px black;
  margin: 5px;
  padding: 15px;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
