.cardOne {
  border: solid 5px #fff;
  margin: auto;
  padding: 5px;
  width: 50%;
  font-size: medium;
  background-color: rgba(6, 171, 112, 0.8);
  color: black;
  justify-content: center;
}
.divimage {
  width: 100%;
}
.text {
  width: 100%;
}