.contenedorCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url(../../public/imagen/fondoFavorites.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  margin: 0 5px;
}
.filter {
  margin-bottom: 5px;
  background-color: aqua;
  width: 100%;
  padding: 1px;
}
