.contenedorCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url(../imagen/proyectintegration.png);
  background-repeat: repeat;
  background-size: 100%;
  padding: 10px;
  margin: 0 50px;
}
